.expenses-container{
}
.expenses-container .page-title{
	height: 70px;
	border-bottom: 1px solid #ddd;
	width: 100%;
	display: flex;
	align-items: center;
	padding: 0 30px;
}
.page-title p{
	margin: 0;
	color: #5d6e73;
	font-size: 20px;
	font-family: 'Helvetica Bold';
}
.expenses-container .calendar-arrow-container{
	display: flex;
  padding: 10px 30px 20px 30px;
}
.expenses-container .calendar-arrow-container .arrow label{
  height: 100%;
  width: 32px;
  display: inline-block;
  cursor: pointer;
  border-radius: 2px;
  padding: 6px 10px;
  color: #FFF;
  background: rgba(44, 121, 134, 0.55);
  font-family: 'Helvetica Bold';
}
.expenses-container .calendar-arrow-container .arrow.left{
	flex: 1;
	text-align: left;
}
.expenses-container .calendar-arrow-container .arrow.right{
	flex: 1;
	text-align: right;
}
.expenses-container .calendar-arrow-container .month-arrow-value{
	font-family: 'Helvetica Bold';
	font-size: 20px;
}
.expenses-container .calendar-arrow-container .arrow span{
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  height: 18px;
}
.expenses-container .expenses-content{
	height: calc(100vh - 70px);
	/*overflow-y: auto;*/
	position: relative;
}
.expenses-container .search-and-view-container {
  padding-bottom: 10px;
}
.calendar-header-container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 10px 0;
  margin: 0 30px;
  border-top: 1px solid #d9d9d9;
}
.calendar-header-container .day-header{
	/*flex: 1;*/
	margin: 5px 0px 0px 0px;
	font-size: 16px;
	text-align: center;
  color: #5d6e73;
	font-family: 'Helvetica Bold';
}
.grid-calendar-container{
	display: grid;
  /*grid-template-columns: auto auto auto auto auto auto auto;*/
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 0px 25px;
  width: 100%;
  overflow-y: auto;
  height: calc(100vh - 245px);
}
.grid-calendar-container .date-box{
	background: #FFF;
	box-shadow: 0px 0px 5px #aaa;
	/*border: 1px solid #ddd;*/
	margin: 5px 5px 20px 5px;
	font-size: 12px;
	height: 200px;
	cursor: pointer;
}
.grid-calendar-container .date-box.disabled{
	pointer-events: none;
	cursor: not-allowed;
	opacity: .5;
}
.grid-calendar-container .date-box .date-value{
	display: flex;
	padding: 5px 10px;
  background: #53939e;
  color: #FFF;
  font-family: 'Helvetica Bold';
}
.grid-calendar-container .date-value span{
	flex: 1;
}
.grid-calendar-container .date-expenses-content{
	height: 146px;
	overflow-y: auto;
}
.grid-calendar-container .date-expenses-content::-webkit-scrollbar-track{
	width: 1px !important;
}
.grid-calendar-container .date-expenses-content::-webkit-scrollbar{
  width: 1px !important;
}
.grid-calendar-container .date-expenses-content::-webkit-scrollbar-thumb{
  background-color: #a0a7ab;
  width: 1px !important;
}
.grid-calendar-container .date-expenses-content .expenses{
	/*display: flex;*/
	display: grid;
  grid-template-columns: 1fr 1fr;
	padding: 2px 10px;
	font-size: 10px;
}
.grid-calendar-container .date-expenses-content .expenses .dot{
	width: 12px;
}
.grid-calendar-container .date-expenses-content .expenses .dot .oi{
	font-size: 6px;
	color: #aaa;
}
.grid-calendar-container .date-expenses-content .expenses p{
	/*flex: 1;*/
	margin: 0;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.grid-calendar-container .date-expenses-content .expenses .value{
	/*flex: 1;*/
	text-align: right;
}
.grid-calendar-container .date-total{
	display: flex;
	padding: 5px 10px;
	background: #d0e1e4;
  font-family: 'Helvetica Bold';
}
.grid-calendar-container .date-total label{
	flex: 1;
}
.grid-calendar-container .date-total p{
	flex: 1;
	text-align: right;
	margin: 0;
}
.list-calendar-container{
	padding: 0px 25px 100px 25px;
	/*padding: 0px 50% 100px 25px;*/
  width: 100%;
	overflow-y: auto;
  height: calc(100vh - 140px);
}
.list-total{
	display: flex;
  padding: 10px 35px 5px 30px;
  font-family: 'Helvetica Bold';
  font-size: 20px;
}
.list-total p{
	width: 200px;
	margin: 0;
}
.list-total .list-total-value{
	flex: 1;
	text-align: right;
}
.list-calendar-container .date-box{
	margin: 5px;
	/*font-size: 12px;*/
	min-height: 45px;
	padding: 10px 10px 10px 0;
	color: #777;
}
.list-calendar-container .date-box p{
	margin: 0;
}
.list-calendar-container .expenses-box{
	display: flex;
	align-items: center;
	padding: 10px 0;
	cursor: pointer;
}
.list-calendar-container .expenses-box .icon{
	width: 35px;
}
.list-calendar-container .expenses-box .icon .oi{
	display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  height: 19px;
}
.list-calendar-container .expenses-box .date-total{
	flex: 1;
	font-size: 15px;
	text-align: right;
	font-family: 'Helvetica Bold';
}
.list-calendar-container .drop-expenses-container{
  margin-top: 10px;
  padding-left: 35px;
  border-top: 1px solid #f1f1f1;
}
.list-calendar-container .list-row{
  width: 100%;
  display: flex;
  margin-bottom: 5px;
  background: #FFF;
  padding: 12px 10px;
}
.list-calendar-container .list-row .icon{
	width: 20px;
}
.list-calendar-container .list-row .icon .oi{
	display: inline-block;
  vertical-align: middle;
  font-size: 8px;
  height: 10px;
  width: 10px;
  color: #666;
}
.list-calendar-container .list-row .checkbox{
	width: 30px;
}
.list-calendar-container .list-row .checkbox input{
	width: 20px;
}
.list-calendar-container .list-row .expenses-desc{
	flex: 3;
	text-transform: capitalize;
}
.list-calendar-container .list-row .expenses-cat{
	flex: 1;
}
.list-calendar-container .list-row .value{
	flex: 1;
	text-align: right;
}
.list-calendar-container .list-row.list-header{
	padding: 10px;
}
.list-calendar-container .list-row.list-header *{
	font-family: 'Helvetica Bold';
	color: #333;
}
.list-calendar-container .list-row.list-options{
	background: none;
	padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
}
.list-calendar-container .list-row.list-options .list-opt-box{
	text-align: center;
	background: #317480;
	padding: 10px 0;
	color: #FFF;
	font-family: 'Helvetica Bold';
	margin-top: 10px;
	cursor: pointer;
}
.list-calendar-container .list-row.list-options .list-opt-box.disabled{
	cursor: not-allowed;
	opacity: .5;
	pointer-events:none;
}
.list-calendar-container .list-row.list-options .list-opt-box .oi{
	margin-right: 5px;
	font-size: 12px;
}
#expenses-modal .add-expenses-wrapper{
	padding: 25px 20px;
}
#expenses-modal .list-expenses-wrapper{
	padding: 20px 15px 10px 15px;
}
#expenses-modal .list-expenses-wrapper .list-row{
	display: flex;
}
#expenses-modal .list-expenses-wrapper .list-row.list-header{
	border-bottom: 1px solid #f9f9f9;
	margin-bottom: 10px;
}
#expenses-modal .list-expenses-wrapper .list-row.list-footer{
	padding-top: 10px;
}
#expenses-modal .list-expenses-wrapper .list-row.list-header *,
#expenses-modal .list-expenses-wrapper .list-row.list-footer *{
	font-family: 'Helvetica Bold';
	color: #333;
}
#expenses-modal .list-expenses-wrapper .list-row .checkbox{
	width: 30px;
}
#expenses-modal .list-expenses-wrapper .list-row .expenses-desc{
	flex: 1;
	text-transform: capitalize;
}
#expenses-modal .list-expenses-wrapper .list-row .expenses-desc .expenses-cat{
  font-size: 10px;
  margin-left: 10px;
}
#expenses-modal .list-expenses-wrapper .list-row .value{
	width: 120px;
	text-align: right;
	padding-right: 20px;
}
#expenses-modal .list-expenses-wrapper .list-body{
  padding-right: 10px;
  margin-right: -15px;
}
#expenses-modal .expenses-list-btns{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 100%;
}
#expenses-modal .expenses-list-btns .modal-button{
	background: #468882;
}
#expenses-modal .expenses-list-btns .modal-button.isDisabled{
	background: #46888294;
}

