    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
        
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
        
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }

    @media only screen and (max-width : 1199px) {

    }



    /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
      
    }

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1100px) {
      .auth-banner-container .banner-text-wrapper p.header{
        font-size: 60px;
        line-height: 1;
      }
      .auth-banner-container .banner-text-wrapper p.sub-header{
        font-size: 40px;
      }
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
      .auth-banner-container .banner-text-wrapper p.header{
        font-size: 45px;
      }
      .auth-banner-container .banner-text-wrapper p.sub-header{
        font-size: 30px;
      }
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 825px) {
      .auth-banner-container .banner-text-wrapper{
        display: none;
      }
      .auth-content .box-content .header,
      .auth-content .box-content .sub-header{
        display: block;
      }
      .signup-container, 
      .login-container{
        width: 100%;
        height: unset;
        min-height: 100vh;
        background: rgba(51, 75, 90, 0.6);
        padding: 50px 0;
      }
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
        
    }

    @media only screen and (max-width : 767px) {
      
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 520px) {
      
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {

    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 360px) {
      .auth-content .box-content {
          padding: 0px 20px;
      }
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        
    }
