*{
  box-sizing: border-box;
}

body,html{
  /*height: 100%;*/
  width: 100%;
  background: #f1f1f1;
  font-family: 'Helvetica Light' !important;
  color: #444340;
  font-size: 14px;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  line-height: 1.42857143;
  font-weight: 700;
}

html{
  height: auto;
}

button{
  /*font-family: 'Helvetica Light' !important;*/
  font-family: 'Helvetica Bold' !important;
  outline: none;
}

/*button{
  display: inline-block;
  border: none;
  line-height: 1;
  padding: 10px 15px;
  font-size: 16px;
  color: rgba(255,255,255,0.87);
  background-color: #076086;
  border-radius: 2px;
  height: 36px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  text-transform: uppercase;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-timing-function: cubic-bezier(.35,0,.25,1);
  transition-timing-function: cubic-bezier(.35,0,.25,1);
  -webkit-transition-property: background-color,fill,color;
  transition-property: background-color,fill,color;
  font-family: inherit;
  text-align: center;
}*/

input, select, textarea{
  font-family: 'Helvetica Light';
  font-weight: 700;
}

a{
  color: #777;
  text-decoration: none;
}

a:focus{
  outline: none;
}

.img-wrapper img{
  width: 100%;
}

p{
  margin-top: 0;
  margin-bottom: 10px;
}

.cursor-pointer{
  cursor: pointer;
}

/*-------- BODY --------------*/
  .main-body-container{
    
  }

  .main-content-container{
    height: 100vh;
    /*overflow-y: auto;*/
    /*overflow-x: hidden;*/
    overflow: hidden;
  }
/*-------------------------*/


/*------- SEARCH AND FILTER BAR ------*/
  .search-and-view-container{
    display: flex;
    padding: 15px 30px;
  }
  .search-and-view-container .search-container{
    width: 300px;
  }
  .search-and-view-container .search-container .form-div{
    position: relative;
    margin: 0;
  }
  .search-and-view-container .search-container .oi{
    position: absolute;
    left: 9px;
    top: 9px;
    opacity: .6;
  }
  .search-and-view-container .search-container input{
    padding-left: 28px !important;
  }
  .search-and-view-container .search-container{
    width: 300px;
  }
  .search-and-view-container .action-opt-container{
    flex: 1;
    margin-left: 15px;
  }
  .search-and-view-container .action-opt-container .action-box{
    text-align: center;
    background: #3BB6AD;
    padding: 6px 0;
    color: #FFF;
    margin: 1px 2px;
    width: 85px;
    height: 32px;
    font-family: 'Helvetica Bold';
    cursor: pointer;
    display: inline-block;
  }
  .search-and-view-container .action-opt-container .action-box.disabled{
    opacity: .5;
    cursor: not-allowed;
  }
  .search-and-view-container .action-opt-container .action-box .oi{
    margin-right: 5px;
    font-size: 12px;
  }
  .search-and-view-container .view-opt-container{
    flex: 1;
    text-align: right;
  }
  .search-and-view-container .view-opt-container button{
    background: #dcdcdc;
    border: none;
    height: 34px;
    line-height: 34px;
    width: 38px;
    margin-left: -4px;
    outline: none;
    text-align: center;
    color: #999;
    cursor: pointer;
    font-size: 14px;
  }
  .search-and-view-container .view-opt-container button.active{
    background: #42525C;
    color: #eee;
  }
  .search-and-view-container .total-value-container{
    flex: 1;
    text-align: right;
    font-family: 'Helvetica Bold';
    font-size: 20px;
  }
  .search-and-view-container .total-value-container p{
    margin: 0;
    height: 100%;
    line-height: 34px;
  }
  .search-and-view-container .total-value-container p label{
    margin-right: 20px;
  }
/*------------------------------------*/


/*----------- PAGE TITLE --------*/
  .page-title{
    height: 70px;
    border-bottom: 1px solid #ddd;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 30px;
  }
  .page-title .main-title{
    flex: 1;
  }
  .page-title .date-selector{
    text-align: right;
    flex: 1;
    position: relative;
  }
  .page-title .date-filter-value{
    margin: 0;
    color: #5d6e73;
    font-size: 20px;
    font-family: 'Helvetica Bold';
  }
  .page-title .oi{
    font-size: 20px;
    margin-left: 10px;
  }
  .page-title .date-btn{
    display: inline-block;
    cursor: pointer;
    position: relative;
  }
  .datepicker-input{
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    outline: none;
    height: 100%;
    width: 100%;
  }
/*------------------------------*/

/*--------- Date Filter --------*/
  .date-filter-container{
    position: absolute;
    right: 0;
    top: 10px;
    width: 180px;
    background: #FFF;
    box-shadow: 0px 0px 5px #929292;
    z-index: 9999;
  }
  .date-filter-container .filter{
    display: block;
    text-align: left;
    border-bottom: 1px solid #e9e9e9;
    padding: 10px;
    color: #666;
    cursor: pointer;
    font-family: 'Proximanova';
    /*margin: 0 5px;*/
  }
  .date-filter-container .header-filter{
    display: flex;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: #fff;
    font-family: 'Proximanova';
    background: #42525C;
  }
  .date-filter-container .header-filter .arrow{
    flex: 1;
    cursor: pointer;
  }
  .date-filter-container .header-filter .arrow .oi{
    font-size: 14px;
    position: relative;
    top: 2px;
  }
  .date-filter-container .header-filter .filter-text{
    flex: 2;
  }
  .date-filter-container .filter:last-child{
    border: none;
  }
  .date-filter-container .filter span{
    font-family: 'Helvetica Bold';
    color: #000;
  }
  .date-filter-container .filter.active{
    background: #e9e9e9;
  }
  .date-filter-container .month-wrapper,
  .date-filter-container .year-wrapper{
    max-height: 200px;
    overflow-y: auto;
    padding-bottom: 30px;
  }
  .date-filter-container .btn-cancel{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    height: 30px;
    line-height: 30px;
    background: #42525C;
    color: #fff;
    font-size: 12px;
    font-family: 'Proximanova';
    cursor: pointer;
  }
/*------------------------------*/

/*--------- DateRangePicker ---------*/
  .daterangepicker{
    width: 550px;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 0;
    padding-bottom: 10px;
    z-index: 99999;
  }
  .daterangepicker.single{
    width: 300px;
    box-shadow: 0px 0px 8px #ddd;
  }
  .daterangepicker:after {
    border-bottom: 6px solid #42525c;
  }
  .daterangepicker .calendar-table .next span, 
  .daterangepicker .calendar-table .prev span {
    border: solid #fff;
    border-width: 0 2px 2px 0;
  }
  .daterangepicker .calendar-table{
    border: none;
  }
  .daterangepicker .calendar-table table{
    border-spacing: 0;
    border-collapse: unset;
  }
  .daterangepicker .calendar-table tr:first-child th{
    background: #42525C;
    color: #fff !important;
    border-radius: 0;
    padding: 15px 0 10px 0;
    height: 45px;
  }
  .daterangepicker .calendar-table th, 
  .daterangepicker .calendar-table td {
    min-width: unset;
    width: 32px;
    height: 32px;
    padding: 0px;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Helvetica Light';
    color: #444;
  }
  .daterangepicker .drp-calendar.left .calendar-table th:first-child, 
  .daterangepicker .drp-calendar.left .calendar-table td:first-child,
  .daterangepicker .drp-calendar.right .calendar-table th:last-child, 
  .daterangepicker .drp-calendar.right .calendar-table td:last-child{
    padding: 0 10px;
  }
  .daterangepicker.single .drp-calendar.left .calendar-table th:first-child, 
  .daterangepicker.single .drp-calendar.left .calendar-table td:first-child,
  .daterangepicker.single .drp-calendar.right .calendar-table th:last-child, 
  .daterangepicker.single .drp-calendar.right .calendar-table td:last-child{
    padding: 0;
  }
  .daterangepicker .drp-calendar{
    width: 50%;
    padding: 0 !important;
    max-width: unset;
  }
  .daterangepicker .drp-calendar.single {
    width: 100%;
  }
  .daterangepicker .drp-calendar.left .calendar-table {
    padding: 0;
  }
  .daterangepicker td.off, 
  .daterangepicker td.off.in-range, 
  .daterangepicker td.off.start-date, 
  .daterangepicker td.off.end-date {
    color: #aaa;
  }
  .daterangepicker td.active, 
  .daterangepicker td.active:hover {
    color: #fff;
  }
  .daterangepicker select.monthselect, 
  .daterangepicker select.yearselect {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: none;
    border-radius: 0px !important;
    background: #FFF;
    border: 1px solid #eceaea;
    height: 25px;
    padding: 0 10px;
    outline: none;
  }
/*-----------------------------------*/


/*----------- Table ------------*/
  table{
    width: 100%;
    text-align: left;
    font-size: 12px;
    font-weight: 700;
    vertical-align: middle;
  }

  table thead tr th{
    color: rgba(0,0,0,.54);
    padding: 15px;
    border-bottom: 1px solid #eee;
  }

  table thead tr th:first-child,
  table tbody tr td:first-child{
    /*padding-left: 0px;*/
  }

  table tbody tr td{
    padding: 5px 15px;
    color: #000;
  }

  table thead tr th:last-child,
  table tbody tr td:last-child{
    text-align: center;
    /*padding-right: 0;*/
  }

  table tbody{
    border-bottom: 1px solid #eee;
  }

  table .table-btn{
    border: none;
    line-height: 1;
    padding: 10px 15px;
    font-size: 16px;
    color: rgba(255,255,255,0.87);
    background-color: #076086;
    border-radius: 2px;
    height: 36px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    text-transform: uppercase;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-timing-function: cubic-bezier(.35,0,.25,1);
    transition-timing-function: cubic-bezier(.35,0,.25,1);
    -webkit-transition-property: background-color,fill,color;
    transition-property: background-color,fill,color;
    font-family: inherit;
  }

  table .table-btn:hover{
    background-color: rgb(57,73,171);
  }

  table .table-btn .oi{
    vertical-align: middle;
    display: inline-block;
  }

  table .table-btn .text{
    vertical-align: middle;
    font-size: 12px;
    padding-left: 8px;
    font-weight: 700;
    display: inline-block;
    position: relative;
    top: -1px;
  }
/*------------------------------*/



/*------ Table pagination -------*/
  .table-pagination{
    padding: 10px 0;
    font-weight: 700;
    display: flex;
    width: 100%;
    font-size: 12px;
    color: rgba(0,0,0,.54);
    justify-content: flex-end;
    align-items: center;
  }

  .table-pagination .arrows{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80px;
    margin-left: 20px;
  }

  .table-pagination .arrows .arrow{
    flex: 1;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 0;
  }

  .table-pagination .page-text{
    margin-left: 40px;
    width: 80px;
  }

  .table-pagination .per-page{
    width: 140px;
    display: flex;
    margin-left: 40px;
  }

  .table-pagination .per-page .per-page-text{
    flex: 1;
  }

  .table-pagination .per-page .per-page-select{
    width: 50px;
    position: relative; 
  }

  .table-pagination .per-page .per-page-select .per-page-btn{
    cursor: pointer;
    text-align: right;
  }

  .per-page-btn .per-page-value{
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }

  .per-page-btn .oi{
    display: inline-block;
    vertical-align: middle;
    font-size: 10px;
  }

  .table-pagination .per-page .per-page-select .per-page-drop{
    max-height: 256px;
    width: 120px;
    overflow-y: auto;
    background-color: #e8e6e6;
    color: rgba(0,0,0,0.87);
    position: absolute;
    bottom: -30px;
    left: 0;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
  }

  .table-pagination .per-page .per-page-select .per-page-drop li{
    list-style: none;
    padding: 18px 16px;
    height: 48px;
    cursor: pointer;
    color: rgba(33,33,33,0.87);
  }

  .table-pagination .per-page .per-page-select .per-page-drop li:hover{
    background: rgb(238,238,238);
  }

  .table-pagination .select-page{
    width: 80px;
    display: flex;
    margin-left: 40px;
  }

  .table-pagination .select-page .select-page-text{
    flex: 1;
  }

  .table-pagination .select-page .select-page-select{
    width: 50px;
    position: relative; 
  }

  .table-pagination .select-page .select-page-select .select-page-btn{
    cursor: pointer;
    text-align: right;
  }

  .select-page-btn .select-page-value{
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }

  .select-page-btn .oi{
    display: inline-block;
    vertical-align: middle;
    font-size: 10px;
  }

  .table-pagination .select-page .select-page-select .select-page-drop{
    max-height: 256px;
    width: 120px;
    overflow-y: auto;
    background-color: #e8e6e6;
    color: rgba(0,0,0,0.87);
    position: absolute;
    bottom: -30px;
    left: 0;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
  }

  .table-pagination .select-page .select-page-select .select-page-drop li{
    list-style: none;
    padding: 18px 16px;
    height: 48px;
    cursor: pointer;
    color: rgba(33,33,33,0.87);
  }

  .table-pagination .select-page .select-page-select .select-page-drop li:hover{
    background: rgb(238,238,238);
  }
/*-------------------------------*/



/*--------- Transition ----------*/
  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
/*-------------------------------*/



/*----------- MODAL -------------*/
  .modal-mask {
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
    z-index: 99999;
  }

  .modal-wrapper {
    height: 100%;
    overflow-y: auto;
  }

  .modal-container {
    width: 400px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
  }

  .modal-header{
    background: #1E8983;
    padding: 16px 20px;
    display: flex;
    align-items: center;
  }

  .modal-header p {
    color: #eee;
    font-weight: 700;
    font-size: 16px;
    flex: 1;
    margin: 0;
    font-family: 'Helvetica Bold';
  }

  .modal-header .close {
    text-align: right;
    width: 50px;
  }

  .modal-header .close .oi{
    font-size: 10px;
    color: #fff;
    cursor: pointer;
  }

  .modal-body {
    /*padding: 25px 20px;*/
  }

  .modal-footer {
    padding: 10px;
    text-align: right;
    border-top: 1px solid #f9f9f9;
    height: 56px;
  }

  .modal-button{
    display: inline-block;
    border: none;
    line-height: 1;
    padding: 12px 25px;
    color: rgba(255,255,255,0.87);
    background-color: #26615d;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    text-transform: uppercase;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-timing-function: cubic-bezier(.35,0,.25,1);
    transition-timing-function: cubic-bezier(.35,0,.25,1);
    -webkit-transition-property: background-color,fill,color;
    transition-property: background-color,fill,color;
    font-family: 'Helvetica Bold' !important;
    text-align: center;
    font-weight: 700;
    margin: 0 5px;
    cursor: pointer;
  }
  .modal-button:disabled{
    cursor: not-allowed;
    opacity: .5;
  }

  .modal-button.cancel-button{
    opacity: .7;
  }

  .confirm-dialog .modal-container{
    width: 500px;
  }

  .confirm-dialog .modal-body{
    padding: 25px 50px;
  }

  .modal-body .confirm-dialog-content{
    text-align: center;
  }

  .modal-body .confirm-dialog-content .img-wrapper{
    height: 100px;
    margin-bottom: 10px;
  }

  .modal-body .confirm-dialog-content .img-wrapper img{
    height: 100%;
  }

  .modal-body .confirm-dialog-content p{
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
  }

  .confirm-dialog .modal-footer{
    padding: 10px;
    text-align: center;
  }

  /*
   * The following styles are auto-applied to elements with
   * transition="modal" when their visibility is toggled
   * by Vue.js.
   *
   * You can easily play with the modal transition by editing
   * these styles.
   */

  .modal-enter {
    opacity: 0;
  }

  .modal-leave-active {
    opacity: 0;
  }

  .modal-enter .modal-container,
  .modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
/*-------------------------------*/


/*----------- Forms -------------*/
  .form-div{
    margin: 10px 0;
    display: inline-block;
    width: 100%;
  }

  .form-div.form-div-child{
    padding-left: 30px;
  }

  .form-div label{
    font-size: 12px;
    font-weight: 700;
  }

  .form-div .form-checkbox,
  .form-div .form-radio{
    display: inline-block;
    background: none;
    height: 20px;
    width: 20px;
    box-sizing: border-box;
    vertical-align: middle;
    margin-right: 10px;
  }


  .form-div input[type="radio"] + label,
  .form-div input[type="checkbox"] + label{
    color: #000;
    font-size: 14px;
  }

  .form-div input[type="radio"] + p{
    color: #000;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 700;
  }

  .form-div.form-div-icon{
    display: flex;
    width: 100%;
    align-items: center;
  }

  .form-div.form-div-icon .input-icon{
    width: 30px;
    padding-top: 5px;
  }

  .form-div.form-div-icon .input-icon .oi{
    font-size: 20px;
  }

  .form-div.form-div-icon input{
    flex: 1;
  }

  .form-div input{
    outline: none;
  }

  .form-div select,
  .form-div input[type="text"],
  .form-div input[type="number"],
  .form-div input[type="email"],
  .form-div input[type="password"]{
    width: 100%;
    border: 1px solid #dedede;
    border-radius: 2px;
    height: 34px;
    min-height: unset;
    padding: 5px 10px;
    color: #222;
    font-size: 14px;
    outline: none;
  }

  .form-div select::placeholder,
  .form-div input::placeholder{
    opacity: .5;
    font-size: 12px;
  }
/*-------------------------------*/



/*------ LOADER AND SCROLLS -----*/
  .main-body-loader{
    /*display: none;*/
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba( 255,255,255,0.9 );
    z-index: 9999;
  }

  .main-body-loader .loader {
      border: 8px solid #b9d5e8;
      border-top: 8px solid #3498db;
      border-radius: 50%;
      width: 80px;
      height: 80px;
      animation: spin 2s linear infinite;
      margin: 0 auto;
      margin-top: 20px !important;
      text-align: center;
  }

  @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
  }

  @keyframes float {
    0% {
      box-shadow: 0 30px 10px 0px rgba(0,0,0,.1);
      transform: translatey(0px);
    }
    50% {
      box-shadow: 0 10px 10px 0px rgba(0,0,0,0.7);
      transform: translatey(20px);
    }
    100% {
      box-shadow: 0 30px 10px 0px rgba(0,0,0,.1);
      transform: translatey(0px);
    }
  }


  *::-webkit-scrollbar-track{
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    background-color: #ccc;
  }

  *::-webkit-scrollbar{
    width: 3px;
    background-color: #0086D3;
  }

  *::-webkit-scrollbar-thumb{
    background-color: #42525C;
    /*background-color: #0ae;*/
    /*background-image: -webkit-gradient(linear, 0 0, 0 100%,*/
                       /*color-stop(.5, rgba(255, 255, 255, .2)),*/
                       /*color-stop(.5, transparent), to(transparent));*/
  }
/*-------------------------------*/

