<div class="auth-content" auth-directive>
  <div class="auth-banner-container">
    <!-- <img src="img/3122.jpg"> -->
    <div class="overlay"></div>

    <div class="banner-text-wrapper">
      <p class="header">Be Responsible</p>
      <p class="sub-header">Manage your expenses</p>
    </div>
  </div>
  <div ng-if="!isSignupShow" class="login-container">
    <div class="box-content">
      <div class="img-wrapper">
        <img src="img/user-avatar.png">
      </div>
      <form ng-submit="login(login_data)">
        <div class="form-div">
          <input type="email" class="form-input" id="email" ng-model="login_data.email" placeholder="Email">
        </div>
        <div class="form-div">
          <input type="password" class="form-input" id="password" ng-model="login_data.password" placeholder="Password">
        </div>
        <!-- <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Stay logged in</label>
        </div> -->

        <div class="info-bottom txt-center">
          <div class="white-space-20"></div>
          <div class="white-space-10"></div>
          <button type="submit" class="btn submit-btn">Go</button>
          <div class="white-space-20"></div>
          <a href="javascript:void(0)" ng-click="toggleSignup()" class="text-hover-underline"><p class="fw-700 account-text">No Account yet? Sign up.</p></a>
        </div>
        
      </form>
    </div>
  </div>
  <div ng-if="isSignupShow" class="signup-container">
    <div class="box-content">
      <div class="img-wrapper">
        <img src="img/user-avatar.png">
      </div>
      <form ng-submit="signup(signup_data)">
        <div class="form-div">
          <input type="text" class="form-input" id="semail" ng-model="signup_data.name" placeholder="Full Name">
        </div>
        <div class="form-div">
          <input type="text" class="form-input" id="email" ng-model="signup_data.email" placeholder="Email">
        </div>
        <div class="form-div">
          <input type="password" class="form-input" id="password" ng-model="signup_data.password" placeholder="Password">
        </div>
        <div class="form-div">
          <input type="password" class="form-input" id="re" ng-model="signup_data.re_password" placeholder="Re-Type Password">
        </div>

        <div class="info-bottom txt-center">
          <div class="white-space-20"></div>
          <div class="white-space-10"></div>
          <button type="submit" class="btn submit-btn" >Submit</button>
          <div class="white-space-20"></div>
          <a href="javascript:void(0)" ng-click="toggleSignup()" class="text-hover-underline"><p class="fw-700 account-text">Already have Account? Log in.</p></a>
        </div>
        
      </form>
    </div>
  </div>
</div>

