<div class="expenses-container" expenses-directive>
	<div class="page-title">
  	<p class="main-title">Expenses</p>

  	<div ui-view="date-selector"></div>
  </div>

	<div class="expenses-content">

		<div class="search-and-view-container">
			<div class="search-container">
				<div class="form-div">
					<span class="oi" data-glyph="magnifying-glass" aria-hidden="true"></span>
          <input type="text" class="form-input" placeholder="Search Keyword" ng-model="search_filter">
        </div>
			</div>
			<div class="action-opt-container">
				<div class="action-box" ng-click="showExpensesModal( 'add' )"><span class="oi" data-glyph="plus" aria-hidden="true"></span> Add</div>
			</div>
			<div class="view-opt-container">
				<button class="btn" ng-class="{'active' : expenses_view == 'list'}" ng-click="changeExpensesView( 'list' )"><span class="oi" data-glyph="menu" aria-hidden="true"></span></button>
				<button class="btn" ng-class="{'active' : expenses_view == 'grid'}" ng-click="changeExpensesView( 'grid' )"><span class="oi" data-glyph="grid-three-up" aria-hidden="true"></span></button>
			</div>
		</div>

		<div class="calendar-arrow-container">
			<div class="arrow left">
				<span class="oi" data-glyph="caret-left" aria-hidden="true" ng-click="prevMonth()"></span>
			</div>
			<div class="month-arrow-value">
				<span ng-bind="month_selected"></span>
			</div>
			<div class="arrow right">
				<span class="oi" data-glyph="caret-right" aria-hidden="true" ng-click="nextMonth()"></span>
			</div>
		</div>

		<div class="calendar-header-container" ng-if="expenses_view == 'grid'">
			<div class="day-header" ng-repeat="list in weekdays_long" ng-bind="list"></div>
		</div>
		<div class="grid-calendar-container" ng-if="expenses_view == 'grid'">
			<div ng-click="showExpensesModal( 'list', list )" class="date-box" ng-class="{'disabled' : list.isDisabled}" ng-repeat="list in expenses_list_arr | filter: search_filter">
				<div class="date-value">
				 <span ng-bind="parseDay( list.full_date )"></span>
				</div>
				<div class="date-expenses-content">
					<div class="expenses" ng-repeat="expenses in list.expenses | filter: search_filter">
						<!-- <div class="dot">
							<span class="oi" data-glyph="media-stop" aria-hidden="true"></span>
						</div> -->
						<p><span ng-bind="expenses.description"></span></p>
						<div class="value">
							<p>$<span ng-bind="expenses.value | number: 2">1,000.00</span></p>
						</div>
					</div>					
				</div>
				<div class="date-total">
					<label>Total</label>
					<p>$<span ng-bind="list.total | number: 2">1,700.00</span></p>
				</div>
			</div>
		</div>


		<div class="list-total" ng-if="expenses_view == 'list'">
			<p>Total</p>
			<div class="list-total-value">
				$ <span ng-bind="monthly_total | number: 2">1,000.00</span>
			</div>
		</div>
		<div class="list-calendar-container" ng-if="expenses_view == 'list'">
			<div ng-if="list.total != 0" class="date-box" ng-repeat="list in expenses_list_arr | orderBy:'-' | filter: search_filter" >
				<div class="expenses-box" ng-click="toggleExpensesDrop( list )">
					<div class="icon">
						<span class="oi" data-glyph="caret-right" aria-hidden="true"></span>
					</div>
					<div class="date-value">
						<p ng-bind="list.full_date">Monday, April 01, 2019</p>
					</div>
					<div class="date-total">
						<p>$<span ng-bind="list.total | number: 2">1,700.00</span></p>
					</div>
				</div>

				<div ng-if="list.showDrop" class="drop-expenses-container" >
					<div class="list-row list-header">
						<div class="checkbox">
							<input type="checkbox" ng-model="expenses_date_checkbox[$index]" ng-click="toggleAllExpensesItem( list.full_date, expenses_date_checkbox[$index] )">
						</div>
						<p class="expenses-desc">Description</p>
						<p class="expenses-cat">Category</p>
						<div class="value">
							<p>Value</p>
						</div>
					</div>
					<div class="list-row" ng-repeat="expenses in list.expenses | filter: search_filter">
						<div class="checkbox">
							<input type="checkbox" ng-model="expenses_selected_checkbox[list.full_date][$index]" ng-click="selectExpensesItem( $index, expenses_selected_checkbox[$index], expenses, list.full_date )">
						</div>
						<p class="expenses-desc" ng-bind="expenses.description">Lorem Ipsum</p>
						<p class="expenses-cat" ng-bind="expenses.category_name">Food</p>
						<div class="value">
							<p>$<span ng-bind="expenses.value | number: 2">1,000.00</span></p>
						</div>
					</div>
					<div class="list-row list-options">
						<div class="list-opt-box disabled" ng-click="showExpensesModal( 'add', expenses )"><span class="oi" data-glyph="plus" aria-hidden="true"></span> Add</div>
						<div class="list-opt-box" ng-click="showExpensesModal( 'edit' )"><span class="oi" data-glyph="pencil" aria-hidden="true"></span> Edit</div>
						<div class="list-opt-box" ng-click="deleteExpenses()"><span class="oi" data-glyph="trash" aria-hidden="true"></span> Delete</div>
					</div>
				</div>
			</div>
		</div>

  </div>

  <!-- MODALS -->
  <div id="expenses-modal" class="modal-mask" ng-if="isExpensesModalShow">
  	<div class="modal-wrapper">
	  	<div class="modal-container">
		  	<div class="modal-header">
		  		<p>
		  			<span ng-if="isAddExpensesShow">Add Expenses</span>
		  			<span ng-if="isEditExpensesShow">Edit Expenses</span>
		  			<span ng-if="isExpensesListShow" ng-bind="parseMonthDate( selected_date_data.full_date )"></span>
		  		</p>
		  		<div class="close">
		  			<span ng-click="closeExpensesModal()" class="oi" data-glyph="x" aria-hidden="true"></span>
		  		</div>
		  	</div>
		  	<div class="modal-body">
		  		<div ng-if="isAddExpensesShow || isEditExpensesShow" class="add-expenses-wrapper">
		  			<form>
		  				<div class="form-div">
			          <input type="text" class="form-input expenses-date-input" placeholder="Date" ng-model="add_expenses_data.date">
			        </div>
			        <div class="form-div">
			          <input type="text" class="form-input" placeholder="Description" ng-model="add_expenses_data.description">
			        </div>
			        <div class="form-div">
			          <input type="number" class="form-input" placeholder="Value" min="0" ng-model="add_expenses_data.value">
			        </div>
			        <div class="form-div">
			          <!-- <input type="text" class="form-input" placeholder="Category"> -->
			          <select ng-model="add_expenses_data.category_id">
			          	<option ng-repeat="list in expenses_categories" ng-bind="list.name" ng-value="list.id">Transportation</option>
			          </select>
			        </div>
		  			</form>
		  		</div>

		  		<div ng-if="isExpensesListShow" class="list-expenses-wrapper">
		  			<div class="list-row list-header">
		  				<div class="checkbox">
								<input type="checkbox" name="">
							</div>
							<p class="expenses-desc">
								Description
							</p>
							<div class="value">
								Value
							</div>
						</div>
			  			<div class="list-row" ng-repeat="expenses in selected_date_data.expenses">
			  				<div class="checkbox">
									<input type="checkbox" name="">
								</div>
								<p class="expenses-desc">
									<span ng-bind="expenses.description">Lorem Ipsum</span>
									<span class="expenses-cat" ng-bind="expenses.category_name">Food</span>
								</p>
								<div class="value">
									<p>$<span ng-bind="expenses.value | number: 2">1,000.00</span></p>
								</div>
							</div>
						<div class="list-row list-footer">
							<p class="expenses-desc">
								Total
							</p>
							<div class="value">
								<p>$<span ng-bind="selected_date_data.total | number: 2">1,000.00</span></p>
							</div>
						</div>
		  		</div>
		  	</div>
		  	<div ng-if="isExpensesListShow" class="modal-footer expenses-list-btns">
		  		<button class="btn modal-button isDisabled">Add</button>
		  		<button class="btn modal-button">Edit</button>
		  		<button class="btn modal-button" ng-click="deleteExpenses()">Delete</button>
		  	</div>
		  	<div ng-if="isAddExpensesShow || isEditExpensesShow" class="modal-footer">
		  		<button ng-if="isAddExpensesShow" ng-disabled="!add_expenses_data.date || !add_expenses_data.description || !add_expenses_data.value || add_expenses_data.value == 0 || !add_expenses_data.category_id" class="btn modal-button" ng-click="addExpenses( add_expenses_data )">Submit</button>
		  		<button ng-if="isEditExpensesShow" class="btn modal-button">Update</button>
		  	</div>
	  	</div>
  	</div>
  </div>
</div>