<div class="summary-container" summary-directive>
	<div class="page-title">
  	<p class="main-title">Summary Reports</p>

  	<div ui-view="date-selector"></div>
  </div>

	<div class="summary-content">
		<div class="main-summary-items">
			<div class="summary-item">
				<p class="item-name">Balance</p>
				<p class="value">$ <span ng-bind="monthly_balance | number: 2">1,000.00</span></p>
			</div>
			<div class="summary-item cursor-pointer" ui-sref="dashboard.expenses">
				<p class="item-name">Expenses</p>
				<p class="value">$ <span ng-bind="monthly_expenses | number: 2">1,000.00</span></p>
			</div>
			<div class="summary-item cursor-pointer" ui-sref="dashboard.income">
				<p class="item-name">Total Income</p>
				<p class="value">$ <span ng-bind="monthly_income | number: 2">1,000.00</span></p>
			</div>
		</div>

		<div class="weekly-and-piechart-container">
			<div class="graph-chart-container">
				<p class="item-title">
					Monthly Graph
				</p>

				<div class="chart-box">
					<canvas id="line" class="chart chart-line" chart-data="expensesLineChartData" chart-labels="expensesLineChartLabels" chart-options="expensesLineChartOptions">
					</canvas>
				</div>	
			</div>

			<div class="pie-chart-container">
				<p class="item-title">
					Expenses Pie Chart
				</p>

				<div class="chart-box">
					<canvas id="pie" class="chart chart-doughnut" chart-data="expensesPieChartData" chart-labels="expensesPieChartLabels" chart-options="expensesPieChartOptions">
					</canvas>
				</div>	
			</div>

			<div class="weekly-report-container">
				<p class="item-title">
					Weekly Report
				</p>

				<div ng-repeat="list in weekly_values track by $index" class="weekly-expenses">
					<label><span ng-bind="alphabet[ $index ]"></span> .</label>
					<p>$<span ng-bind="list | number: 2">1,500.00</span></p>
				</div>
			</div>
			
		</div>
  </div>
</div>