@media only screen and (min-height : 750px) {
    
}










/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
    
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1400px) {
    
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1600px) {
    
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 2000px) {
    
}





/*==========  Non-Mobile First Method  ==========*/

@media only screen and (max-width : 1280px) {
    
}

@media only screen and (max-width : 1230px) {
    
}

@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 1150px) {
  .section-item {
    width: 80%;
	}

	.skillset-container {
	  width: 100%;
	}

	.skillset-container .skills-content{
    width: 80%;
  }

  #footer-container .footer-contact {
	    width: 90%;
	}
}

@media only screen and (max-width : 1050px) {
    
}

@media only screen and (max-width : 992px) {
    
}

@media only screen and (max-width : 900px) {
    
}

@media only screen and (max-width : 880px) {
  .section-item {
    width: 95%;
	}

	.skillset-container {
	  width: 100%;
	}

	.skillset-container .skills-content{
    width: 95%;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.expertise-container{
    flex-direction: column;
  }

  .expertise-container .expertise {
    margin-bottom: 50px;
    text-align: center;
	}

	#footer-container .footer-contact .contact-column {
    padding: 0px 10px;
	}
}

@media only screen and (max-width : 574px) {
    
}

@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 360px) {
    
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    
}
















